body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.description-column {
  max-width: 280px; 
  word-wrap: break-word;
  text-align: left;
}

.completed {
  text-decoration: line-through;
}

.header {
  color: rgb(103, 12, 187);
  font-style: italic;
  font-weight: 600;
  font-size: 28px;
  margin: 32px 10px 15px 10px;
};

.wrapper {
  margin-top: 20 px;
}

.logo {
  width: 70px;
  height: 70px;
}

.form-header {
  color: rgb(5, 85, 38);
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 4px;
}

.header-link {
 font-size: 21px;
 font-weight: 500;
}

.app-name {
  padding: 1rem;
  color: #008080;
  font-weight: 600;
  font-size: 34px;
  text-decoration: none;
}

.app-name:hover {
  padding: 1rem;
  color: #35c0c0;
}

.message {
  padding: 1rem;
  color: darkblue;
  font-weight: 800;
  font-size: 26px;
}

.delete-icon {
  color: #4B0082;
  font-size: 0.9em;
}

.edit-icon {
  color: #4B0082;
  font-size: 1.3em;
}

.goal-done {
  font-size: 16px;
  font-weight: 600;
  color: #228B22;
}

.submit-button {
  font-size: 30px;
  font-weight: 600;
  margin: 5px 5px 5px 0px; 
}